.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
h1{
  background: rgb(60, 55, 55);
  width: 100%;
  height: 80px;
  margin-top: -8px;
  text-align: center;
  color: white;
  
}

/* Card.css */
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #7a7979;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: 300px;
  margin: 16px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 6px;
  background-color: #fff;
}

.card-title {
  margin: 0;
  font-size: 1.25rem;
  color: #333;
}

.card-link {
  display: inline-block;
  margin-top: 8px;
  color: #007bff;
  text-decoration: none;
  font-size: 0.875rem;
  cursor: pointer;
  
}

.card-link:hover {
  text-decoration: none;
}
